{% extends 'layout.html' %}

{% block content %}

    <form method="POST" action="" class="register">


        {{form.hidden_tag()}}

        

        <fieldset class="form-container">

            <legend>Login</legend>

            <div>
                {{form.email.label(class="label")}}
                {{form.email(class="input")}}
            </div>

            <div>
                {{form.password.label(class="label")}}
                {{form.password(class="input")}}
            </div>

            <div class="submit">
               
                {{form.submit(class="btn")}}
            </div>


        </fieldset>

    </form>


{% endblock content %}