{% extends 'layout.html' %}
{% block content %}

    <div class="about-container">
        <div class="about">

            Welcome to the Nzavote voting system application! This menu-driven program is a Python program designed to facilitate
            the voting process for upcoming elections. It allows citizens of a country to practice and improve their voting rights by
             providing a user-friendly interface for voters to cast their votes securely and safely. As a negpod, we were inspired by 
             conflicts of past elections including: wars and clashes between supporters of different parties, killings, 
           riggings, and other forms of electoral fraud to develop a program that is secure, safe, and trusted.

           <p>To achieve the desired functionality for our program, we will implement the following features/functions described below; A function that will Ask the users to Enter their ID to confirm their identity. A function that will display the choices to vote from. A function that will get users' input and confirm their voting choice. A function that will send the user a confirmation message of their vote and also thank them for using the system.

           </p>
            </div>
    </div>
    
{% endblock content %}