{% extends 'layout.html' %}

{% block content %}

    <div class="page">

    

    <div class="home">
        <div class="img">

            <img src="/static/eng-progress_election-security_banner-removebg-preview (1).png" width="400px">
        </div>

        <div class="img">

            <img src="/static/online-voting-for-associations.png" width="400" alt="">

        </div>


    </div>
    <div class="vote-btn">
        <button class="btn-vote"><a href="/login">VOTE NOW!</a></button>

    </div>

 </div>


{% endblock content %}